<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Commit Viewers</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <a href="/" class="home-icon"><i class="fas fa-home"></i></a>

        <h1>Commits</h1>
        <ul class="commit-list">
            <li th:each="commit : ${commits}" class="commit-item">
                <p><strong>Hash:</strong> <span th:text="${commit.hash}"></span></p>
                <p><strong>Timestamp:</strong> <span th:text="${commit.timestamp}"></span></p>
                <p><strong>Author:</strong> <span th:text="${commit.author}"></span></p>
                <p><strong>Provider:</strong> <span th:text="${commit.provider}"></span></p>
                <a th:href="@{/commit/{id}(id=${commit.id})}">
                    <button class="btn-detail">Detail</button>
                </a>
            </li>
        </ul>

        <a class="return" href="/developers">Back</a>
    </div>
</body>

</html>