<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Commit Viewers</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <a href="/" class="home-icon"><i class="fas fa-home"></i></a>

            <h1>Developers</h1>

            <ul>
                <li th:each="developer : ${developers}">
                    <p><strong>Username:</strong> <span th:text="${developer.username}"></span></p>
                    <p><strong>Email:</strong> <span th:text="${developer.email}"></span></p>

                    <h3>Commits:</h3>
                    <div th:if="${#lists.isEmpty(developer.commits)}">
                        <p>There is no commit available.</p>
                    </div>
                    <div th:if="${!#lists.isEmpty(developer.commits)}">
                        <p>Last 1 Month Commits Count: <span th:text="${#lists.size(developer.commits)}"></span></p>
                        <a th:href="@{/commits/{username}(username=${developer.username})}">
                            <button>Get Commits</button>
                        </a>
                    </div>
                </li>
            </ul>

            <div th:if="${#lists.isEmpty(developers)}" class="alert alert-info">
                <p>There is currently no developer available.</p>
            </div>
        </div>
    </div>
</body>

</html>